/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

:root {
	--default-text: #ccc;
	--main-light: #313131;
	--page-bg: #222;

	--dark-grey: #ececec;
	--grey: #aaa;
	--light-grey: #555;
	--lightest-grey: #333;

	--color-base-50: #666;
    --color-base-60: #999;
    --color-base-70: #bababa;
    --color-base-100: #dadada;
	--text-faint: var(--color-base-50);
	--text-on-accent: white;	
	
	--text-normal: var(--color-base-100);
    --text-muted: var(--color-base-70);
    --text-faint: var(--color-base-50);
}
color-scheme: dark;
*/

body {
	--h1-color: var(--text-normal);
	--h2-color: var(--text-normal);
	--h3-color: var(--text-normal);
	--h4-color: var(--text-normal);
	--h5-color: var(--text-normal);
	--h6-color: var(--text-normal);

	--bold-color: var(--text-normal);
	--bold-weight: var(--font-medium);
	/* color: var(--text-muted); */
	color: #bfbfbf;

	/* Increase the line with */
	--file-line-width: 80ch;
}

/* Change the look of inline codes */
.cm-s-obsidian span.cm-inline-code {
	color: var(--color-orange);
	/* background-color: var(--text-highlight-bg-active); */
	background-color: #503314 !important;
	padding: 0.15em 0.2em;
	border-radius: 5px;
}

/**
 * By David Phillips (autonia) https://github.com/autonia
 * From https://github.com/obsidian-tasks-group/obsidian-tasks/discussions/622#discussioncomment-2649299
 */
.tasks-backlink {
	font-size: 0.7em;
	opacity: 0.6;
	filter: grayscale(60%);
}

/* Increase the line with of code blocks */
.markdown-source-view.mod-cm6.is-readable-line-width .cm-line {
	max-width: 100%;
}
